In [1]:
#This is code
import pandas as pd

pd.DataFrame([0,1,2,3],columns=['data'])

   data
0     0
1     1
2     2
3     3

# Markdown

This is a Markdown cell

In [2]:
# Another code cell

def my_function(x):
    return x*x

In [3]:
my_function(3)

9